<div class="container holding">Holdings</div>
<hr>
<section class="holding-table">
    <div id="holding-container">

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Instrument</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Avg.Cost</th>
                    <th scope="col">LTP</th>
                    <th scope="col">Curr.Val</th>
                    <th scope="col">P&L</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <!-- <th scope="row">1</th> -->
                    <td>GOLD BEES</td>
                    <td>8</td>
                    <td>48.24</td>
                    <td>50.41</td>
                    <td>403.28</td>
                    <td>17.36</td>
                </tr>
                <tr>
                    <!-- <th scope="row">1</th> -->
                    <td>NHPC</td>
                    <td>15</td>
                    <td>40.50</td>
                    <td>38.97</td>
                    <td>584.55</td>
                    <td>-22.95</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
<section class="hol">
    <div class="holding-info">
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th scope="col">Total Investment</th>
                    <th scope="col">Current Value</th>
                    <th scope="col">Day's.P&L</th>
                    <th scope="col">Total P&L</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <!-- <th scope="row">1</th> -->
                    <td>993.42</td>
                    <td>987.83</td>
                    <td>-14.74</td>
                    <td>-5.59</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>