<!--Navbar Start-->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div>
      <h3 style="float: left;">NIFTY 50 <span style="color: lightgreen; font-size: large;">16985.70</span> SENSEX <span
          style="color: lightgreen; font-size: large;">57653.86</span></h3>
    </div>
    <a class="navbar-brand" href="#">Navbar</a>
    <ul class="navbar-nav  mb-2 mb-lg-0 justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">Holdings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">Positions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">Funds</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">Apps</a>
      </li>
    </ul>
  </div>
</nav>
<!--Navbar End-->

<router-outlet></router-outlet>
<app-home></app-home>

<!--Footer Start-->
<footer></footer>
<!--Footer End-->